ClassLibrary3/ClassLibrary3/Service References/mazeSolverService/Game.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Game" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ingesup-maze.azurewebsites.net/WCF/Game.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ingesup-maze.azurewebsites.net/WCF/Game.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ingesup-maze.azurewebsites.net/WCF/Game.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ingesup.Maze.Server.Web.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGame_CreateGame_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGame" />
  </wsdl:message>
  <wsdl:message name="IGame_CreateGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGame_LoadGame_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadGame" />
  </wsdl:message>
  <wsdl:message name="IGame_LoadGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGame_ResetGame_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetGame" />
  </wsdl:message>
  <wsdl:message name="IGame_ResetGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGame_AddPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPlayer" />
  </wsdl:message>
  <wsdl:message name="IGame_AddPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IGame_MovePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:MovePlayer" />
  </wsdl:message>
  <wsdl:message name="IGame_MovePlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:MovePlayerResponse" />
  </wsdl:message>
  <wsdl:portType name="IGame">
    <wsdl:operation name="CreateGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGame/CreateGame" message="tns:IGame_CreateGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGame/CreateGameResponse" message="tns:IGame_CreateGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGame/LoadGame" message="tns:IGame_LoadGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGame/LoadGameResponse" message="tns:IGame_LoadGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGame/ResetGame" message="tns:IGame_ResetGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGame/ResetGameResponse" message="tns:IGame_ResetGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IGame/AddPlayer" message="tns:IGame_AddPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGame/AddPlayerResponse" message="tns:IGame_AddPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MovePlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IGame/MovePlayer" message="tns:IGame_MovePlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGame/MovePlayerResponse" message="tns:IGame_MovePlayer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGame" type="tns:IGame">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateGame">
      <soap:operation soapAction="http://tempuri.org/IGame/CreateGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadGame">
      <soap:operation soapAction="http://tempuri.org/IGame/LoadGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetGame">
      <soap:operation soapAction="http://tempuri.org/IGame/ResetGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPlayer">
      <soap:operation soapAction="http://tempuri.org/IGame/AddPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MovePlayer">
      <soap:operation soapAction="http://tempuri.org/IGame/MovePlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Game">
    <wsdl:port name="BasicHttpBinding_IGame" binding="tns:BasicHttpBinding_IGame">
      <soap:address location="http://ingesup-maze.azurewebsites.net/WCF/Game.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>