ClassLibrary3/ClassLibrary3/Service References/mazeSolverService/Game2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ingesup-maze.azurewebsites.net/WCF/Game.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ingesup.Maze.Server.Web.Models" />
  <xs:element name="CreateGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ingesup.Maze.Server.Web.Models" minOccurs="0" name="difficulty" type="q1:Difficulty" />
        <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ingesup.Maze.Server.Web.Models" minOccurs="0" name="CreateGameResult" nillable="true" type="q2:PlayerGame" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Ingesup.Maze.Server.Web.Models" minOccurs="0" name="LoadGameResult" nillable="true" type="q3:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Ingesup.Maze.Server.Web.Models" minOccurs="0" name="ResetGameResult" nillable="true" type="q4:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Ingesup.Maze.Server.Web.Models" minOccurs="0" name="AddPlayerResult" nillable="true" type="q5:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovePlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="playerKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Ingesup.Maze.Server.Web.Models" minOccurs="0" name="direction" type="q6:Direction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovePlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Ingesup.Maze.Server.Web.Models" minOccurs="0" name="MovePlayerResult" nillable="true" type="q7:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>